.listItem{
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 15px;
    margin-bottom: 10px;
}
.listItem h3 {
    margin-top: 0;
    font-size: 1.3em;
}
.listItem p {
    color: #555;
}